<?xml version="1.0"?>
<!-- Name: David(DaeWoong) Ryu || Student No: 300830801-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <!-- Q1-b. Display books from database -->
    <connectionStrings>
      <add  name="DowntownLibrary"
            connectionString="Data Source=DESKTOP-ALD8LCS;Initial Catalog=DowntownLibrary;Integrated Security=True"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <!--<httpRuntime targetFramework="4.6.1" />-->

      <pages theme="Library"></pages>

      <siteMap defaultProvider="SiteMap1">
        <providers>
          <clear/>

          <add name="SiteMap1"
               description="SiteMap"
               type="System.Web.XmlSiteMapProvider"
               siteMapFile="~/Web.sitemap"/>

          <add name="SiteMap2"
               description="SiteMap"
               type="System.Web.XmlSiteMapProvider"
               siteMapFile="~/Web2.sitemap"/>
        </providers>
      </siteMap>

      <authentication mode="Forms" >
        <forms>
          <credentials passwordFormat="Clear">
            <user name="david" password="david" />
            <user name="daewoong" password="daewoong" />
            <user name="ryu" password="ryu" />
            <user name="comp229" password="comp229" />
          </credentials>
        </forms>
      </authentication>
      <authorization>
        <deny users="?" />
        
        <allow users="david, daewoong, ryu" />
      </authorization>
    </system.web>
  <!-- Name: David(DaeWoong) Ryu || Student No: 300830801-->
  
    <!-- Allow access to App_Themes directory -->
    <location path="App_Themes">
      <system.web>
        <authorization>
          <allow users="?"/>
        </authorization>
      </system.web>
    </location>

    <!-- Allow access to Images directory -->
    <location path="Images">
      <system.web>
        <authorization>
          <allow users="?"/>
        </authorization>
      </system.web>
    </location>
</configuration>

<!-- Name: David(DaeWoong) Ryu || Student No: 300830801-->